*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth ;
}
header{
    display: flex;
    position: fixed;
    top: 0;
    background-color: #fffefed0;
    margin-left: 40px;
    width: 1250px;
}
.logo{
    margin-left: 5px;
    display: flex;
    margin-top: 25px;
}
.logo h1{
    padding-left: 10px;
    padding-top: 2px;
    font-size: 20px;
    color: blue;
}
.nav{
    margin-left: 220px;
    margin-top: 25px;
    padding-top: 2px;
}
.nav a{
    padding-left: 50px;
    color: blue;
    text-decoration: none;
}
.nav a:hover{
    text-decoration: underline;
    color: red;
}
header button{
    margin-left: 280px;
    height: 20px;
    width: 80px;
    margin-top: 25px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
}
header button:hover{
    cursor: pointer;
    background-color: red;
}
.herobox{
    background-image: url(picture2/enugu.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1000px;
    height: 350px;
    margin-left: 150px;
    margin-top: 90px;
    border-radius: 10px;
}
.herotext{
    background-color: rgba(0, 0, 0, 0.234);
    height: 350px;
    border-radius: 10px;
}
.herotext h2{
    padding-top: 150px;
    padding-left: 80px;
    text-align: left;
    color: white;
    text-shadow: 2px 2px black;
}
.herotext p{
    color: white;
    width: 300px;
    text-align: left;
    padding-left: 80px;
    padding-top: 10px;
}
.RD{
    text-align: center;
    color: blue;
}
.aboutabk{
    margin-top: 10px;
}
._about{
    margin-top: 30px;
    width: 900px;
    height: 250px;
    margin-left: 200px;
    box-shadow: 5px 5px 20px rgba(150, 150, 237, 0.621);
}
._about p{
    font-size: 22px;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
}
._about a{
    padding-left: 700px;
    padding-top: 50px;
}
.visit{
    margin-top: 70px;
}
._visit{
    margin-top: 50px;
    display: flex;
}
.visitlocation{
    margin-left: 50px;
    padding-left: 50px;
}
.visitlocation img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
.bookings{
    margin-top: 50px;
}
._booking{
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
}
.book{
    display: flex;
    margin-left: 60px;
    box-shadow: 5px 5px 20px rgba(150, 150, 237, 0.621);
    height: 150px;
    width: 300px;
    border-radius: 10px;
    color: blue;
    
}
.book img{
    height: 60px;
    width: 70px;
    padding-left: 30px;
    padding-top: 50px;
}
.book p{
    font-size: 28px;
    padding-left: 20px;
    padding-top: 50px;
    color: black;
    font-size: 18px;
    width: 180px;
}
.book p b{
    color: blue;
}
.book:hover{
    border: 1px solid blue;
    color: white;
    transition: 500ms ease-in;
    transform: translate3d(-10px, -10px, 10px);
}